# Java / Maven
target/
*.iml
*.class
/.project
/.classpath
/.settings/

# IDE
.idea/
.vscode/

# Logs
*.log
logs/

# OS
.DS_Store

# Docker / env
.env
*.env
pgdata/

# Frontend (se mai)
node_modules/
